<div class="col mb-5">
    <div class="card h-100">
        <!-- Insignia agotado -->
        <div th:if="${libro.ejemplaresRestantes == 0}" class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Agotado</div>
        <!-- Product image -->
        <img class="card-img-top" th:if="${libro.portada != null}" th:src="${'/imagen/libro/' + libro.id}" title="${libro.titulo}" alt="" width="100px" height="310px">
        <img class="card-img-top" th:if="${libro.portada == null}" src="/img/noimage.jpg" alt="" width="100px" height="310px">
        <!-- Detalles Libro -->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Nombre Libro -->
                <h5 class="fw-bolder" th:text="${libro.titulo}"></h5>
                <!-- Autor Libro-->
                <h5 class="text-muted" th:text="${libro.autor.nombre}"></h5>
            </div>
        </div>
        <!-- Libro actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/libro/libro/__${libro.id}__}">Ver Libro</a></div>
        </div>
    </div>
</div>



