<!--body id="body" oara que funcione el sidebar-->   
    <div class="menu__side" id="menu_side">

        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

        <div class="options__menu">
            <a href="#" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="far fa-file" title="Hola"></i>
                    <h4>Hola</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-book-open" title="Libros"></i>
                    <h4>Libros</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-feather-pointed" title="Autores"></i>
                    <h4>Autores</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-landmark" title="Editoriales"></i>
                    <h4>Editoriales</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="far fa-address-card" title="Nosotros"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>
        </div>
    </div>