<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="formulario de libro" content="" >
        <meta name="author" content="Lautaro Pavez"> 
      
        <title>Libreria Web- Registro</title>      

    </head>
    <body>
        <div class="container m-5">
            <div th:if="${exito}!=null" class="card text-white bg-succes mb-3">
                <div class="card-body">
                    <h5 class="card-title">Exito</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>               
            </div>
        </div>

        <form th:action="@/libro/registro" method="POST">
          <div class="form-group">
            <label>Titulo</label> <input type="text" class="form-control" name="titulo" placeholder="Titulo del libro">
          </div>
          <div>
            <label>Año</label> <input type="number" class="form-control" name="año" placeholder="Año del libro">
          </div>
          <div>
            <label>Autor</label> <input type="text" class="form-control" name="autor" placeholder="Nombre del autor">
          </div>
          <div>
            <label>Editorial</label> <input type="text" class="form-control" name="editorial" placeholder="Nombre de la editorial">
          </div>  
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
        
    </body>
</html>
