<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="formulario de modificacion libro " content="" >
    <meta name="author" content="Lautaro Pavez">

    <title>Modificar Libro</title> 
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap}" rel="stylesheet">
    <link th:href="@{/css/styleFormModif.css}" type="text/css" rel="stylesheet">
    <!--
    Video de proyecto: https://www.youtube.com/watch?v=85_MoUvTJZE 
    Video de proyecto parte js: https://www.youtube.com/watch?v=36S19D6kZkc&t=214s (min 7:48 importante) 
    Video de Otro proyecto formulario con validaciones: https://www.youtube.com/watch?v=Blw1Sf0ws6E
    Video de proyecto parte del email: 
 
    min 8 usa flexbox
    box shadow = sombra a la caja 
    triggers : son disparadores de eventos como el hover por ej. Los imputs por defecto tienen el trigger focus(es cuando hacemos click en el input y se remarca la casilla)
    INVESTIGAR: trigger css animation with javascript
    min 7:48 Usamos expresiones regulares con JS(que son patrones donde podemos encontrar ciertas caracteristicas, ej: si hay símbolos, números)
    Documentación de expresiones regulares: https://developer.mozilla.org/es/docs/Web/JavaScript/Guide/Regular_Expressions
                                            https://www.w3resource.com/javascript/form/email-validation.php
    -->
</head>
<body>
    <!--Chequear si las uso al exito y error-->
    <div class="container m-5">
            <div th:if="${exito}!=null" class="card text-white bg-succes mb-3">
                <div class="card-body">
                    <h5 class="card-title">Exito</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>               
            </div>
        </div>
    <form th:action="@{/libro/modificar/__${libro.id}__}" method="POST" id="form" enctype="multipart/form-data">
        <div class="form">
            <h1>Modificación</h1>
            <input type="hidden" th:value= "${id}" name= "id">

            <div class="grupo">
                <input th:value="${libro.titulo}" type="text" name="titulo" placeholder="Titulo del libro" required><span class="barra"></span>
                <label for="">Titulo</label>
            </div>
            <div class="grupo">
                <input th:value="${libro.anio}" type="text" name="anio" placeholder="Año del libro" required><span class="barra"></span>
                <label for="">Año</label>
            </div>
            <div class="grupo">
                <input th:value="${libro.archivo}" type="text" name="archivo" placeholder="Imagen de portada" required><span class="barra"></span>
                <label for="">Archivo</label>
            </div>
            <div class="grupo">
                <input th:value="${libro.nombreAut}" type="text" name="nombreAut" placeholder="Nombre del autor" required><span class="barra"></span>
                <label for="">Autor</label>
            </div>
            <div class="grupo">
                <input th:value="${libro.nombreEdit}" type="text" name="nombreEdit" placeholder="Nombre de la editorial" required><span class="barra"></span>
                <label for="">Editorial</label>
            </div>
            <button type="submit">Guardar</button>
            <p class="warnings" id="warnings"></p>
        </div>
    </form>
    <script src="js/main.js"></script>
</body>
</html>


<!--

</head>
    <body>
        <form th:action="@/libro/registro" method="POST">
          <div class="form-group">
            <label>Titulo</label> <input type="text" class="form-control" name="titulo" placeholder="Titulo del libro">
          </div>
          <div>
            <label>Año</label> <input type="number" class="form-control" name="año" placeholder="Año del libro">
          </div>
          <div>
            <label>Autor</label> <input type="text" class="form-control" name="autor" placeholder="Nombre del autor">
          </div>
          <div>
            <label>Editorial</label> <input type="text" class="form-control" name="editorial" placeholder="Nombre de la editorial">
          </div>  
          <button type="submit" class="btn btn-primary">Submit</button>
        </form 
    </body>
</html>-->
