<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" > // <!-- Si me marca error en esta linea poner: xmlns="http://www.w3.org/1999/xhtml"  , más info acá https://stackoverflow.com/questions/42217214/springboot-with-thymeleaf-showing-error-but-working --> 
    <head> 
        <title>Biblioteca Virtual</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Libreria Web " content="Aqui encontrarás los mejores libros de autores de todo el mundo, ven a darle un vistazo, tenemos grandes ofertas."/>
        <meta name="author" content="Lautaro Pavez">
        <!-- <meta name="copyright" content="Propietario del copyright" /> -->
    </head>
    <body>
        
        <div>TODO write content</div>
        <div>TODO write content</div>
        <div>TODO write content</div>
        
        <!-- Navigation -->
        <nav>

        </nav>

        <header>

        </header>

        <section>

        </section>
        <section>

        </section>
        <section>

        </section>
        <!-- Footer -->
        <footer>

        </footer>

        <!-- Bootstrap core JavaScript -->
        <!-- Acá va el link de bootstrap con JS -->
    </body>
</html>
