<!DOCTYPE html>
<html lang="es-AR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: head (pageTitle='Libreria El Ceibo - Modificación de Libro')"></head>
    <body id="body">
        <header>
            <nav th:replace="/fragments/nav :: nav"></nav>
        </header>
        <div th:replace="/fragments/sidebar :: div"></div>
        <main>
            <h1 class="text-center mt-2"><b>Modificación Libro</b></h1><br>   
            <div th:replace="/fragments/message :: div"></div>

            <form th:action="@{/libro/modificar/__${libro.id}__}" method="POST" id="form" enctype="multipart/form-data">
                <input type="hidden" th:value="${id}" name="id">
                    <div class="form-group col-md-6">
                        <label class="m-1 mt-3"><b>Titulo</b></label> <input th:value="${libro.titulo}" type="text" name="titulo" class="form-control"  placeholder="Titulo del libro">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="m-1 mt-3"><b>Año</b></label> <input th:value="${libro.anio}" type="number" name="anio" class="form-control"  placeholder="Año del libro">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="mt-3"><b>Ejemplares</b></label> <input th:value="${libro.nroejemplares}" type="number" name="ejemplares" class="form-control mt-2"  placeholder="Cantidad de ejemplares">
                    </div>
                    <!-- <div class="form-group">
                        <label>ISBN</label> <input type="number" name="" class="form-control"  placeholder="ISBN">   
                    </div> -->
                    <div class="form-group col-md-6">
                        <label class="mt-3"><b>Descripcion</b></label><input th:value="${libro.descripcion}" type="text" name="descripcion" class="form-control mt-2"  placeholder="Descripcion del libro">
                    </div>
                    <div class="form-group col-md-6">   
                     <label class="m-1 mt-3"><b>Portada</b></label> <input type="file" name="archivo" class="form-control"  placeholder="Imagen de portada">                          
                    </div>
                    <!-- 
                    <div class="form-group col-md-6">
                        <label class="mt-3">Autor</label> <input th:value="${libro.autor.nombre}" type="text" name="nombreAut" class="form-control"  placeholder="Nombre del autor">        
                    </div>
                    <div class="form-group col-md-6">
                        <label class="mt-3">Editorial</label> <input th:value="${libro.editorial.nombre}" type="text" name="nombreEdit" class="form-control"  placeholder="Nombre de la editorial">                       
                    </div> -->
                    <div class="row">
                        <label class="m-1 mb-0 mt-3"><b>Modificar autor</b></label>    
                        <div class="input-group mt-2">
                            <div>
                             <select class="form-control" name="idAutor">                             
                                <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}" th:selected="${libro.autor != null && autor.id == libro.autor.id}" name="autor"></option>
                            </select>   
                            </div>
                            <!-- Botón nuevo Autor-->
                            <a th:href="@{/autor/registroAutor}" class="btn btn-primary">Agregar</a>
                        </div>
                        <label class="m-1 mb-0 mt-3"><b>Modificar editorial</b></label>
                        <div class="input-group mt-2 ">
                            <div>
                                <select class="form-control" name="idEditorial">    
                                    <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}" th:selected="${libro.editorial != null && editorial.id == libro.editorial.id}" name="editorial" ></option>
                                </select>
                            </div>
                            <!-- Botón nueva Editorial-->
                            <a th:href="@{/editorial/registroEditorial}" class="btn btn-primary">Agregar</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary m-2 mt-4">Guardar</button>
                    <p class="warnings" id="warnings"></p>      
            </form>
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <a th:href="@{/libro/lista}" class="btn btn-primary my-2">Volver</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer th:replace="/fragments/footer :: footer"></footer>
        <!-- Bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
        <!-- Sidebar js -->
        <script src="/js/sidebar.js"></script>
    </body>
</html>